.edit-params {
  float:right;
  margin: 3px;
  color: #999999;
}

.edit-params:hover {
  color: black;
  cursor: pointer;
}

.panel-body{
  padding: 0px;
}
.list-group{
  margin: 0px;
}
.myGrid{
  width:860px;
  height:600px;
}

