//
   Created by paulmuston on 13/12/14.
.dialog
  .modal-header
    h3 {{blockName}}
    span.glyphicon.glyphicon-remove.close.pull-right(ng-click="close()")
  .modal-innards
    .modal-body
      .myGrid.ui-grid(ui-grid="gridOptions")
  .modal-footer

